extends layout.pug 
block Content 
    .homeInfo
        h1 Create new student record
        if error 
            p.error Please Fill the Form
        form(action="/create", method="post")
            .formItem 
                h2 First Name
                input(type="text" name = "first_name" placeholder="Enter first name...")
            .formItem 
                h2 Last Name
                input(type="text" name = "last_name" placeholder="Enter last name...")
            .formItem 
                h2 Student Id
                input(type="number" name="student_id" placeholder="Enter student id...")
            .formItem 
                h2 Phone Number
                input(type="text" name="phone_number" placeholder="Enter phone number...")
            .formItem 
                h2 Email
                input(type="email" name="email" placeholder="Enter email...")
            .formItem 
                button.btnCreate Create