extends layout.pug
block Content
    .homeInfo
        p.infointro “This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service” 
        p.hInfo Welcome to student management application